{% extends "base.html" %}

{% block content %}

<h2 class="mb-3">👨‍🎓 {{ student.name }}</h2>

<div class="card shadow-sm p-3">

<h5>📊 Twoja frekwencja</h5>

<table class="table table-hover mt-3">

<thead class="table-light">
<tr>
    <th>Przedmiot</th>
    <th>Dzień</th>
    <th>Godzina</th>
    <th>Status</th>
</tr>
</thead>

<tbody>

{% for a, l, s in records %}

<tr>

    <td>{{ s.name }}</td>
    <td>{{ l.day }}</td>
    <td>{{ l.hour }}</td>

    <td>
        {% if a.present %}
            <span class="badge bg-success">✔ obecny</span>
        {% else %}
            <span class="badge bg-danger">❌ nieobecny</span>
        {% endif %}
    </td>

</tr>

{% endfor %}

</tbody>

</table>

</div>

{% endblock %}