{% extends "base.html" %}

{% block content %}

<h2 class="mb-4">📚 Moje lekcje</h2>

<div class="row">

{% for l in lessons %}

<div class="col-md-4 mb-3">

    <div class="card shadow-sm">

        <div class="card-body">

            <h5 class="card-title">
                {{ l.day }} {{ l.hour }}
            </h5>

            <a class="btn btn-primary btn-sm"
               href="/lesson/{{ l.id }}">
               Otwórz lekcję
            </a>

        </div>

    </div>

</div>

{% endfor %}

</div>

{% endblock %}